.form {
    border: 1px solid black;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.child {
    border: 1px solid black;
    margin: 5rem;
    padding: 3rem;
}