.form {
    border: 1px solid black;
}
@media (max-width: 1000px) {
    .form {
        margin: 5rem;
        padding: 1rem;
    }
}
@media (min-width: 1000px) {
    .form {
        margin: 10rem;
        padding: 5rem;
    }
}

.child {
    border: 1px solid black;
}

@media (max-width: 1000px) {
    .child {
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
@media (min-width: 1000px) {
    .child {
        padding: 4rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}